body {
  background-image: url("../images/Free-Professional-Dark-Carbon-Patterns.jpg");
  background-repeat: repeat;
  background-size: 500px;
}

.panel-body {
  margin: 20px;
  border-radius: 20px;
}

.panel-heading {
  background: lightskyblue;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.panel-body {
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.panel {
  background: white;
  border-radius: 20px;
}

.main-card {
  border-radius: 20px;
  margin-bottom: 30px;
}

.jumbo {
  border-radius: 20px;
  background: white;
  box-shadow: 5px 5px 5px 5px lightskyblue;
}
